.sidebar {
    height: calc(100vh - #{$header-height});
    width: $sidebar-width;
    background-color: $block-bg-color;
    color: $font-color;
    z-index: 9;
    overflow-y: scroll;
    // padding-top: $header-toolbar-height;

    &__toolbar {
        height: $header-toolbar-height;
        display: flex;
        align-items: center;
        padding: 0 1rem;
        border-bottom: 3px solid $border-color;
        position: fixed;
        // top: $header-height;
        left: 0;
        right: 0;
        width: $sidebar-width;
        background-color: $block-bg-color;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
        z-index: 1;

        & > button {
            &:not(:last-child) {
                margin-right: 2rem;
            }

            & > img {
                width: 1.5rem;
            }
        }
    }

    &__last-logs {
        margin: 1rem auto;
        padding: 1rem;
        border: 0.5px solid $border-color;
        border-radius: 7px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
        width: 93.5%;

        & > ul {
            & > li {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &:not(:last-child) {
                    margin-bottom: 1rem;
                }

                & > span {
                    font-size: 1.5rem;

                    &:first-child {
                        font-weight: 900;
                    }
                }
            }
        }
    }

    &__indicators {
        margin-top: $header-toolbar-height;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        & > span {
            &:first-child {
                width: calc(#{$sidebar-width} - 1rem);
                height: calc(#{$sidebar-width} - 1rem);
            }

            &:not(:first-child) {
                width: calc((#{$sidebar-width} / 2) - 1rem);
                height: calc((#{$sidebar-width} / 2) - 1rem);
            }

            & > div {
                width: 100% !important;
                height: 100% !important;
            }
        }
    }
}
