@import "../../../../node_modules/sweetalert2/src/variables.scss";

$swal2-font-size: 3rem;
$swal2-title-font-size: 3rem;
$swal2-confirm-button-font-size: 3rem;
$swal2-cancel-button-font-size: 3rem;
$swal2-content-font-size: 3rem;
$swal2-input-font-size: 3rem;
$swal2-validation-message-font-size: 3rem;
$swal2-input-color: "#fff";

@import "../../../../node_modules/sweetalert2/src/sweetalert2.scss";
