.checkbox {
    height: 2rem;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 2.6rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &--disabled {
        cursor: default;  
        opacity: 0.5;
    }

    &__label {
        font-size: 1.4rem;
        margin-bottom: -0.3rem;
    }

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked~.checkbox__mark:after {
            display: block;
        }
    }

    &__mark {
        position: absolute;
        top: 0;
        left: 0;
        height: 2rem;
        width: 2rem;
        background-color: transparent;
        border: 0.2rem solid $gray-100;

        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 0.5rem;
            top: 0.1rem;
            width: 0.4rem;
            height: 0.8rem;
            border: solid $gray-100;
            border-width: 0 0.3rem 0.3rem 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}