/**
 *  Color palette
 */
$white: #ffffff;
$black: #000000;
$gray-100: #e8e8e8;
$gray-200: #727272;
$gray-300: #404040;
$gray-400: #3d3d3d;
$gray-500: #282828;
$gray-600: #222222;
$gray-700: #111111;
$accent: #3085d6;
$green-darken-100: #00cc00;
$green-darken-200: #009900;
$red-darken-100: #cc0000;
$red-darken-200: #990000;

/**
 *  Colors
 */
$header-bg: $gray-700;
$header-toolbar-bg: $gray-600;
$font-color: $gray-100;
$scrollbar-color: $gray-200;
$block-bg-color: $gray-500;
$border-color: $gray-300;
$context-menu-bg: $gray-500;
$context-menu-bg-hover: $gray-400;

/**
 *  Measurements
 */
$header-menu-height: 4rem;
$header-toolbar-height: 4rem;
$header-height: $header-menu-height + $header-toolbar-height;
$sidebar-width: 30vw;

$transition-duration: 0.3s;
