$header-bg: #111111;
$header-toolbar-bg: #222222;
$menu-current-color: #5697ff;
$font-color: #e8e8e8;
$nonactive-color: #565656;
$checked-item-color: #3d3d3d;
$scrollbar-color: #727272;
$scrollbar-bg-color: #1e1e1e;
$searchbox-bg-color: #727272;
$searchbox-color: #d1d1d1;
$block-bg-color: #282828;
$list-hover-color: #3d3d3d;
$header-menu-height: 4rem;
$header-toolbar-height: 4rem;
$header-height: $header-menu-height + $header-toolbar-height;
$sidebar-width: 30vw;
$border-color: #404040;

$context-menu-bg: #282828;
$context-menu-bg-hover: #353535;
